@page "/login"
@using MauiTimesheet.Components.Layout

@layout AuthLayout

@inject AuthService AuthService
@inject NavigationManager NavigationManager


<SectionContent SectionName="title">Login</SectionContent>
<SectionContent SectionName="loginRegisterText">
    <p>Don't have an account?</p>
</SectionContent>
<SectionContent SectionName="loginRegisterLink">
    <NavLink href="register" class="mt-3 text-blue-600">Create a new Account</NavLink>
</SectionContent>

<EditForm Model="_model" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />

    <div class="mb-4">
        <label class="app-label">Username</label>
        <InputText @bind-Value="_model.UserName" placeholder="Enter username"
                   class="app-input" />
        <ValidationMessage For="@(() => _model.UserName)" class="text-red-500 text-xs mt-2" />
    </div>

    <div class="mb-4">
        <label class="app-label">Password</label>
        <InputText type="password" @bind-Value="_model.Password" placeholder="Enter password"
                   class="app-input" />
        <ValidationMessage For="@(() => _model.Password)" class="text-red-500 text-xs mt-2" />
    </div>
    <button type="submit" class="app-btn">Login</button>
</EditForm>

@code {
    private LoginModel _model = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task LoginAsync()
    {
        var IsSuccess = await AuthService.LoginAsync(_model);
        if(IsSuccess)
        {
            // Navigate to the home page or dashboard
            NavigationManager.NavigateTo("dashboard", replace: true);

        }
        else
        {
            // Show error message
        }
    }
}
